@media (orientation: landscape) {
    .SecondDividerStyle {
        position: relative;
        width : 100%;
        height: calc(var(--app-height) * .3);
        background-color: #ffffff;
        border-color: rgb(250, 250, 250);
        margin: calc(var(--app-height) * .35) 0 calc(var(--app-height) * .35) 0;
    }

    .SecondDividerStyle .GMWSLogo {
        position: absolute;
        right: 2%;
        top : 50%;
        transform: translate(2%, -50%);

        height: 90%;
    }

    .GMWSLogo img {
        object-fit: contain;
        width: auto;
        height: 100%;
    }

    .BlackGriffin {
        position: absolute;
        left: 2%;
        top : 50%;
        transform: translate(-2%, -50%);

        height: 90%;
    }

    .BlackGriffin img {
        object-fit: contain;
        width: auto;
        height: 100%;
    }
}

@media (orientation: portrait) {
    .SecondDividerStyle {
        position: relative;
        width : 100%;
        height: calc(var(--app-height) * .5);
        background-color: #ffffff;
        border-color: rgb(250, 250, 250);
        margin: calc(var(--app-height) * .25) 0 calc(var(--app-height) * .25) 0;
    }

    .SecondDividerStyle .GMWSLogo {
        position: absolute;
        left: 50%;
        bottom : 10%;
        transform: translate(-50%, 10%);

        height: 15%;
    }

    .GMWSLogo img {
        object-fit: contain;
        width: auto;
        height: 100%;
    }

    .BlackGriffin {
        position: absolute;
        left: 50%;
        top : 10%;
        transform: translate(-50%, -10%);

        height: 40%;
    }

    .BlackGriffin img {
        object-fit: contain;
        width: auto;
        height: 100%;
    }
}